.icons {
  @apply flex items-center  mt-4;

  & .iconWrapper {
    @apply flex-center-center cursor-pointer;

    & .icon {
      @apply text-gray-3 cursor-pointer transition-all2;

      &:hover {
        @apply text-gray-4;
      }
    }

    .count {
      @apply text-gray-4 text-s_text min-w-2;
    }
  }
}
