@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Red-filter-color: rgb(238, 63, 67);
  --Blue-filter-color: rgb(34, 74, 251);
  --Green-filter-color: rgb(96, 192, 83);
  --Yellow-filter-color: rgb(240, 221, 78);
  --Black-filter-color: #000;
  --White-filter-color: #fff;
  --Purple-filter-color: rgb(243, 85, 237);
  --Camouflage-filter-border: #4e4b2c;
  --Camouflage-filter-color: linear-gradient(
    45deg,
    rgba(80, 115, 80, 1) 50%,
    rgba(115, 85, 56, 1) 50%
  );
  --Beast-filter-color: #1000cf;
}

* {
  @media (min-width: theme('screens.tb')) {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
      @apply bg-gray-4;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-gray-3;
    }
  }
}

body {
  @apply bg-black text-white;
  height: 100vh;
}

h1 {
  @apply text-s_h1;
}

h2 {
  @apply text-s_h2;
}

h3 {
  @apply text-s_h3;
}

h4 {
  @apply text-s_h4;
}

h5 {
  @apply text-s_h5;
}
